@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --main: #333;
  --bg: #f9f9f9;
  --accent: steelblue;
  --noactive: #d5d5d5;
}

//body {
//  background: var(--bg);
//  color: var(--main);
//  font-family: Roboto, sans-serif;
//}
.calculator {
  display: flex;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 1200px;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 0.5rem;
  font-family: Roboto, sans-serif;

  .calculator_wraper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
    border: 2px solid #b2b0b0;

    form.calc {
      display: flex;
      flex-direction: column;
      transition: all 1s linear;
      position: relative;
      height: 400px;
      width: 600px;
      border-right: 2px solid #b2b0b0;
      margin-left: 10px;
      overflow-y: auto;

      //div {
      //  margin: 0 auto;
      //}

      span {
        font-size: 16px;
        text-align: left;
        margin: 0 auto;
      }

      .title {
        display: inline-flex;
        flex-direction: row;
        margin-bottom: 55px;
        padding: 10px;
        padding-left: 15px;
        justify-content: space-between;
        align-items: flex-start;
        height: 0;

        span.step {
          display: inline;
          font-size: 24px;
          font-weight: 700;
          text-align: left;
        }

        span.skidka {
          display: inline;
          font-size: 12px;
          font-weight: 100;
          text-align: right;
          margin-top: 10px;
          margin-right: 45px;
        }

        span.btnPrev {
          font-size: 14px;

          a {
            font-size: 16px;
            border-radius: 50%;
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
            background-color: #f1f1f1;
            color: black;

            &:hover {
              background-color: #ddd;
              color: black;
            }
          }
        }
      }

      .group {
        display: flex;
        position: relative;
        margin-bottom: 25px;

        input[type=text], input[type=date], input[type=time], select {
          font-size: 16px;
          padding: 5px 0;
          display: block;
          border: 1px solid #ccc;
          border-radius: 7px;
          cursor: pointer;
          border-bottom: 1px solid #757575;
          appearance: none;
          -webkit-appearance: none;
          height: 20px;

          &:focus {
            outline: none;
            border-bottom: 2px solid var(--accent);
          }

          &:focus ~ label, &:valid ~ label {
            top: -20px;
            font-size: 14px;
            color: var(--accent);
          }
        }

        select {
          background: #fff url(../img/select.jpg) no-repeat right center;
          padding: 10px 85px 10px 5px;
          height: inherit;
          line-height: inherit;
          margin-top: 10px;
          width: 90%;
        }

        label:not(.timeradio) {
          color: #999;
          font-size: 16px;
          position: absolute;
          pointer-events: none;
          left: 20px;
          top: 7px;
          transition: .2s ease all;
        }
      }

      .button, .btnDalee {
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
        transition: box-shadow .25s ease-out;

        border-radius: 15px;
        background-color: var(--accent);
        padding: .25rem .5rem;
        width: 120px;
        font-size: 18px;
        color: var(--bg);
        border: none;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        height: inherit;
        line-height: inherit;

        &:hover {
          box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, .2), 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
        }
      }

      .usluga {
        margin-top: 25px;
      }

      @import "./step1";
      @import "./step2";
      @import "./step3";
    }



    .map {
      display: flex;

      vertical-align: top;
      height: 100%;
      //width: 100%;
      width: 600px;
      #map {
        position: relative;
        width: 100%;
        height: 400px;
        z-index: 1;
      }
    }


  }
}


@import './modal.scss';