.wrap-footer {
  display: flex;
  flex-direction: column;

  .distance, .cost, .sale{
    display: inline;
    font-size: 14px;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .sale span{
    font-weight: bold;
  }
}



