.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.selectCar {
  .group {
    label {
      color: #999;
      font-size: 18px;
      position: relative;
      pointer-events: auto;
      left: 0;
      top: 10px;
      margin-right: 30px;
      width: 100%;
      transition: .2s ease all;

      input[type=radio] + img {
        cursor: pointer;
      }

      input[type=radio]:checked + img {
        outline: 2px solid #ff9809;
      }
    }

    /* HIDE RADIO */
    input[type=radio] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

.counters {
  div {
    margin: 10px 0px;
  }
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .number-input {
    border: 2px solid #ddd;
    display: inline-flex;
  }

  .number-input,
  .number-input * {
    box-sizing: border-box;
  }

  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }

  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 3rem;
    border: solid #ddd;
    border-width: 0 2px;
    padding: 0 15px;
    font-size: 1rem;
    height: 2rem;
    font-weight: bold;
    text-align: center;
  }
}

.pass_radio {
  margin-top: 10px;

  label {
    font-size: 10px;
  }
}




